# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.eggs/
*.egg-info/
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store
*/.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Trashes

# Testing / coverage
.tox/
.nox/
.cache
pytestdebug.log
htmlcov/

# Logs
*.log
*.out

# Temp / outputs
tmp/
temp/
logs/
output/
artifacts/
